.profile-view {
    height: 100%;
    padding: 1rem;
    font-family: var(--font);
}

.profile-title {
    font-family: var(--titleFont);
    color: var(--secondaryColor);
    font-weight: 800;
    text-align: center;
    padding: 1rem;
}


.user-data-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightGrey);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 1rem;
}

.user-data-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-data-info svg {
    text-decoration: none;
    color: var(--detailColor);
}

.user-data-info svg:hover {
    transform: rotateZ(360deg);
    transition: all ease 1.5s;
}

.user-options-container {
    margin: 2rem 0;
}

.user-options-container .user-options li{
    list-style: none;
}

.options-item {
    text-decoration: none;
    color: black;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.options-item:hover {
    color: var(--detailColor);
    scale:  1.05;
    transform: translateX(10px);
    transition: all ease .2s;
}

.options-item svg {
    margin-right: 5px;
    color: var(--detailColor);
}

/* MEDIA */

@media(min-width: 768px) {
    .profile-view {
        padding: 3rem;
    }

    .profile-title {
        font-style: 2.5rem;
    }

    .user-data-info {
        padding: 1.5rem;
    }

    .user-data-info img {
        width: 60px;
        height: 60px;
    }

    .user-data-info svg {
        width: 30px;
        height: 30px;
    }

    .user-data-info .data-info-txt p{
        font-size: 20px;
    }

    .user-data-info .data-info-txt small {
        font-size: 15px;
    }

    .options-item {
        font-size: 20px;
        margin: 30px 0;
    } 

    .options-item svg {
        width: 20px;
        height: 20px;
    }
}

@media(min-width: 820px) and (max-width: 1024px) {
    .content {
        display: grid;
        grid-template-rows: 40% 60%;
    }
}

@media(min-width: 1024px) {
    .profile-view {
        padding: 4rem;
    }
}