/* ARREGLAR FORM, ACOMODAR RESPONSIVE TAMAÑO TABLETSY VER DE MODIFICAR EL BOTON DE FILES */

.contact {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

h1.title {
    font-family: var(--titleFont);
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--secondaryColor);
    transition: font-size 0.5s ease;
}


.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.contact-form-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.contact-form-item {
    width: 100%;
    position: relative;
    margin-top: 25px;
    font-style: italic;
}

.contact-form-item input,
.contact-form-item textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--detailColor);
    background-color: none;
    outline: none;
    padding: 4px 0;
}

.contact-form-item label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primaryColor);
    transition: all ease 0.3s;
}

.contact-form-item input:focus~label,
.contact-form-item input:valid~label,
.contact-form-item textarea:focus~label,
.contact-form-item textarea:valid~label {
    top: -20px;
    font-size: 1rem;
    color: var(--primaryColor);
}

.contact-form-item textarea {
    width: 100%;
    height: 60px;
}

.file-select input {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primaryColor);
    font-family: var(--font);
    font-weight: 600;
    margin-top: 15px;
}
.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

/* MEDIA */

@media (min-width: 768px) {

    h1.title {
        font-size: 3.5rem;
        align-self: flex-start;
        padding: 0 0 0 2rem;
    }

    .form-container {
        width: 100%;
        justify-content: flex-end;
        padding: 2rem;
    }

    .form-container form {
        width: 70%;
    }

    .contact-form-item {
        margin-bottom: 1rem;
    }

    .contact-form-item textarea {
        height: 120px;
    }

}

@media (min-width: 1024px) {
    h1.title {
        font-size: 4rem;
    }
}
