.header {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: var(--mainColor);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: var(--font);
    color: var(--primaryColor);
    font-weight: 600;
}

.header img {
    height: 40px;
    width: auto;
}

.header ul.menu-inline {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20 0px;
    padding: 0 20px;
}


.header ul.menu-mobile {
    background-color: var(--mainColor);
    display: block;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .6s ease;
    padding-top: 60px;
    overflow-y: scroll;
    padding-bottom: 30px;
}

ul.menu-mobile li {
    display: block;
    text-align: center;
    margin: 15px;
}

.header li {
    list-style: none;
    display: inline;
}

.header .menu-item {
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0 15px;
    color: var(--primaryColor);
    font-size: 1rem;
    position: relative;
    padding: 5px;
}

.header .menu-item:hover,
.header .menu-item.text-color {
    color: var(--detailColor);
    transition: all .5s;
}

.submenu-closed,
.profileMenu-closed {
    display: none;
}

.submenu-open,
.profileMenu-open {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--mainColor);
    border: 1.5px solid var(--detailColor);
    border-radius: 5px;
    box-shadow: var(--detailColor) 3px 3px 0px 0px;
    color: var(--secondaryColor);
    width: 140px;
    height: auto;
    padding: 0.5rem;
    z-index: 10;
    text-align: center;
}

.submenu-open .menu-item,
.profileMenu-open .menu-item {
    font-size: 0.8rem;
}

.header ul.menu-inline .profileMenu-open {
    left: 0;
    transition: left 0.3s ease; 
}


.header ul.menu-mobile .submenu-open,
.header ul.menu-mobile .profileMenu-open {
    position: relative;
    box-shadow: none;
    padding-bottom: 1rem;
    width: 100%;
    border: 1.5px solid var(--detailColor);
    box-shadow: var(--detailColor) 3px 3px 0px 0px;
}

.icon-burger {
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
}


/* MEDIA */

@media(min-width: 768px) {
    .icon-burger {
        display: none;
    }

    .header {
        justify-content: space-evenly;
    }

    .header ul.menu-mobile {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 1010px) {
    .header ul.menu-inline .profileMenu-open {
        left: -120px;
    }
}

@media(max-width: 768px) {
    .header ul.menu-inline {
        display: none;
    }
}
