.footer{
    background-color: var(--primaryColor);
    width: 100%;
    height: auto;
    padding: 1rem;
    color: var(--mainColor);
    grid-template-rows: 1fr;
    display: grid;
}

h4.footer-title{
    margin-bottom: 10px;
    text-align: center;
    font-family: var(--titleFont);
}

.box-rrss .rrss{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.box-rrss .rrss div{
    display: inline-block;
}
.box-rrss a{
    text-decoration: none;
    color: var(--mainColor);
    margin: 8px;
    text-align: center;
}
.rrss a:hover{
    color: var(--detailColor);
    transition: all 0.3s;
}

.copy-container{
    color: var(--lightGrey);
    font-family: var(--font);
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* MEDIA */

@media(min-width: 820px) {
    .copy-container {
        font-size: .8rem;
    }
}