.footer{
    background-color: var(--primaryColor);
    width: 100%;
    height: auto;
    padding: 1rem;
    font-family: var(--font);
    color: var(--mainColor);
    grid-template-rows: 1fr 0.1fr;
    display: grid;
}


h4{
    margin-bottom: 10px;
    text-align: center;
}


.box-rrss .rrss{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.box-rrss .rrss div{
    display: inline-block;
}
.box-rrss a{
    text-decoration: none;
    color: var(--mainColor);
    margin: 8px;
    text-align: center;
}


.rrss a:hover{
    color: var(--detailColor);
    transition: all 0.3s;
}

.copy-container{
    border-top: 1px solid var(--lightGrey);
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy-container p{
    color: var(--lightGrey);
    margin-top: 1rem;
}
