.about-container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.about-title {
    color: var(--secondaryColor);
    font-family: var(--titleFont);
    font-weight: 800;
    text-align: center;
    padding: 1rem;
}

.about-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font);
    height: 100%;
}

.about-txt {
    width: 100%;
    font-weight: 500;
    padding: 1rem;
}

.about-txt em {
    color: var(--secondaryColor);
    font-weight: 600;

}

.about-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.about-imgs h3 {
    color: var(--secondaryColor);
    font-family: var(--titleFont);
    margin-bottom: 1rem;
}

.about-process {
    display: flex; 
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    width: 100%;
}

.about-process:not(.last-child) {
    border-bottom: 1px solid var(--detailColor);
}

.about-process .number {
    font-family: var(--titleFont);
    font-size: 4rem;
    font-weight: 800;
    color: var(--primaryColor);
}

.about-process .process-text {
    padding: 1rem;
}

.process-final-text {
    padding: 1rem;
}

/* MEDIA */

@media(min-width: 768px) {
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 3rem;
    }

    .about-title {
        font-size: 3rem;
        padding: 2rem;
    }

    .about-content {
        justify-content: space-evenly;
    }

    .about-imgs {
        width: 100%;
    }

    .about-imgs h3, .about-imgs p {
        text-align: left;
        width: 100%;
    }
}

@media(min-width: 820px) {
    .about-imgs {
        padding: 0 3rem;
    }
}
