.cart-prod-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn-delete-prod {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-delete-prod button {
    background: none;
    border: none;
    color: var(--detailColor);
    font-family: var(--font);
    font-size: 1rem;
}

.cart-prod-card {
    width: 90%;
    margin: 0 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.cart-prod-img {
    max-width: 100px;
    height: auto;
}

.info-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.cart-prod-size {
    font-size: 15px;
}

.cart-prod-price {
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
    color: var(--primaryColor);
}

.change-prod-quantity {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}

.change-prod-quantity p {
    margin: 0 4px;
    font-family: var(--titleFont);
}

.change-prod-quantity button {
    background: none;
    border: none;
    color: var(--secondaryColor);
    font-weight: 500;
    padding: 5px;
    font-size: 18px;

}


/* MEDIA */

@media(min-width: 768px) {
    .cart-prod-container {
        justify-content: space-around;
    }

    .btn-delete-prod {
        padding: 4px;
    }

    .cart-prod-card {
        justify-content: center;

    }

    .cart-prod-card .info-txt {
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }
}
